a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

img {
	vertical-align: bottom;
}

textarea {
	resize: none;
	width:100%;
	height:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: auto;
	margin: auto;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

@keyframes loader {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(1turn);}
}

.loader {
	margin: 0px auto;
	border-radius: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(33, 150, 243) rgb(238, 238, 238) rgb(238, 238, 238);
	border-image: initial;
	width: 64px;
	height: 64px;
	animation: loader 0.8s linear infinite;
}

.actions {
	width: 100%;
	text-align: right;
	padding-bottom: 10px;
}

.separator {
	border-top: 2px solid black;
}

.responsive-table {
	overflow-x: auto;
}

.table-primary>th {
	background-color: rgba(184, 218, 255, 1);
}

.table-success>th {
	background-color: rgba(195, 230, 203, 0.6);
}

.table-danger>th {
	background-color: rgba(245, 198, 203, 0.6);
}

.text-danger {
	color: #dc3545;
}

.have-input {
	background: none;
	border: none;
	font-family: arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 35px;
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 300px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 5px;
}

.modal-footer {
	text-align: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}